.header{
		position: relative;
    height: 150px;
    background-color: rgb(3,169,244);
		border-radius: 17px;
	.logo{
		height: 80%;
		width: 200px;
		padding-top: 1.5px;
	}	
	.title {
	        display: inline;
	        text-align: center;
	        color: #fff;
	        font-weight: 600;
	        font-size: 45px;
	      }
.menuIcon {
        position: absolute;
        width: 29px;
        height: 15px;
        top: 23px;
        left: 20px;
        cursor: pointer;   
				 margin-left: 90%;
        img{
        	width: 100%
        }   
        }		
	.searchField {
			display: inline;
			width:20%;  
			border-radius: 17px;
			margin-left: 25%;
	    }
	.searchIcon {
		margin-left: 15%;
		position: absolute;
		font-size: 21px;
		color: #FFFFFF;
		top: 18px;
		right: 20px;
		cursor: pointer;
		&:hover {
		  color: #fff;
		}
		img {
			width: 15%;
			height:30px;
		}
	}
}