.aside {
	float: left;
    position: relative;
    overflow: hidden;
    background-color: rgb(3,169,244);
    h3{
    	text-align:cenetr;
    	font-family:Arial;
    	font-color: black;
    }
		.searchField {
			display: block;  
			border-radius: 17px;
	    }
    .navbar{
			overflow-y: scroll;
			height:400px;
    	ul{
    		&hover{
    		background-color: rgb(3,169,244);
    	}
    	}

    }

    }