.footer{
		position: absolute;
    width:100%;
    margin-top: 100px;
    height: 70px;
    background-color: rgb(3,169,244);
		border-radius: 17px;
    h4{
      font-family: apple chancery;
      text-align: center;
    }
}
